<nav class="bg-red-600">
    <div class="container mx-auto px-4 text-blue-300">
      <div class="flex items-center justify-between py-2 ">
        <div class="flex items-center">
          <a routerLink="/" class="text-white text-lg font-semibold px-2">
            <img src="../../../../assets/logo (2).png" class="w-[60px] h-[60px]" alt="">
          </a>
        </div>
        <div class="hidden md:flex space-x-4 items-center">
          <a routerLink="/" class="text-black hover:text-white font-medium">Home</a>
          <a routerLink="/products" class="text-black hover:text-white font-medium">Products</a>
          <a routerLink="/categories" class="text-black hover:text-white font-medium">Categories</a>
          <a routerLink="/contact" class="text-black hover:text-white font-medium">Contact</a>
          <a routerLink="/categories" class="text-black hover:text-white font-medium">Categories</a>
          <a routerLink="/cart-page">
          <button class="bg-black px-3 py-2 rounded-md text-white flex hover:scale-105 gap-1 ">
            <i class="fa fa-shopping-cart text-lg" aria-hidden="true"></i>
             <div class="w-[20px] h-[20px] rounded-full bg-red-500 text-sm  relative top-[-5px]">{{cart.items.length}}</div>
          </button>
        </a>
        </div>
        <div class="md:hidden">
          <button
            class="text-gray-400 hover:text-white focus:outline-none"
            aria-label="Open mobile menu"
          >
            <!-- Mobile menu icon SVG -->
          </button>
        </div>
      </div>
    </div>
  </nav>
  